<div class="container mt-4">
  <form action="/restaurants/{{restaurant._id}}/edit/preview" method="POST">
    <span>餐廳中文名稱：</span><input type="text" placeholder="輸入中文名" name="name" value="{{restaurant.name}}">
    <hr>
    <span>餐廳英文名稱：</span><input type="text" placeholder="輸入英文名" name="name_en" value="{{restaurant.name_en}}">
    <hr>
    <span>用餐類型：</span><select type="select" placeholder="輸入類型" name="category" required>
      {{#each categories}}
      <option value="{{this}}" {{isMached this ../restaurant.category}}>{{this}}</option>
      {{/each}}
    </select>
    <hr>
    <span>照片網址：</span><input type="text" placeholder="輸入網址" name="image" value="{{restaurant.image}}">
    <hr>
    <span>位置：</span><input type="text" placeholder="輸入位置" name="location" value="{{restaurant.location}}">
    <hr>
    <span>電話：</span><input type="text" placeholder="輸入電話" name="phone" value="{{restaurant.phone}}">
    <hr>
    <span>Google地圖：</span><input type="text" placeholder="輸入網址" name="google_map" value="{{restaurant.google_map}}">
    <hr>
    <span>評價：</span><input type="text" placeholder="輸入數字" name="rating" value="{{restaurant.rating}}">
    <hr>
    <span>詳細內容：</span><input type="text" placeholder="輸入詳細內容" name="description" value="{{restaurant.description}}">
    <hr>
    <input type="hidden" name="_id" value="{{restaurant._id}}">

    <button type="submit" class="btn btn-warning">預覽</button>
    <a href="/restaurants/{{restaurant._id}}" role="button" class="btn btn-secondary">回詳細頁面</a>
    <a href="/" role="button" class="btn btn-light">回首頁</a>
  </form>
</div>