<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button" placeholder="搜尋關鍵字...">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  {{#if keyword}}
  <div class="d-flex row justify-content-start">
    <a href="/"><button type="button" class="btn btn-info">顯示全部</button></a>
  </div>
  {{/if}}
  <!-- Dropdowns -->
  <div class="d-flex justify-content-end">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{orderName}}
      </a>
      <form action="/" method="POST">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="?keyword={{keyword}}&sort=name">餐廳名 (A -> Z)</a>
          <a class="dropdown-item" href="?keyword={{keyword}}&sort=name-r">餐廳名 (Z -> A)</a>
          <a class="dropdown-item" href="?keyword={{keyword}}&sort=category">類別</a>
          <a class="dropdown-item" href="?keyword={{keyword}}&sort=location">地區</a>
        </div>
      </form>
    </div>
  </div>
</div>

{{#if alertHTML}}
<div class="container mt-4">
  <div class="alert alert-danger" role="alert">
    <span style="font-weight: bold;">請輸入關鍵字</span>
  </div>
</div>
{{/if}}

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="card-columns d-flex row wrap justify-content-center">
      {{#each restaurants}}
      <div class="col-3">
        <div class="card mb-3">
          <a href="./restaurants/{{this._id}}" class="text-secondary">

            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2 fa-2x"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
          </a>

          <div class="card-footer d-flex justify-content-end">
            <a href="./restaurants/{{this._id}}/edit"><button type="button" class="btn btn-warning mr-2">修改</button></a>
            <form action="./restaurants/{{this._id}}?_method=DELETE" method="post"
              onsubmit="return confirm('確定要刪除此筆資料嗎？')">
              <button type="submit" class="btn btn-danger">刪除</button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div>