<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-between ">
  <div>
    <a href="/"><button type="button" class="btn btn-info">顯示全部</button></a>
  </div>

  <!-- Dropdowns -->
  <div>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{orderName}}
      </a>
      <form action="/" method="POST">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="?keyword={{keyword}}&sort=name">餐廳名 (A -> Z)</a>
          <a class="dropdown-item" href="?keyword={{keyword}}&sort=name-r">餐廳名 (Z -> A)</a>
          <a class="dropdown-item" href="?keyword={{keyword}}&sort=category">類別</a>
          <a class="dropdown-item" href="?keyword={{keyword}}&sort=location">地區</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  Oops！找不到包含 {{keyword}} 的結果！
</div>